#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.app {
    min-width: 320px;
    min-height: 95vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* set logo to min-height 5vh */

.formContainer {
    width: 100%;
    height: 90vh;
    max-height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.formInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



/* Course view */
.courseContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.courseHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 10px 
}

.mainCourseContent {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
}

.askAQuestion {
    width: 400px;
    height: 600px;
}

.queueContainer {
    width: 65%;
    height: 800px;

}

.questionsContainer {
    height: max-content;
    max-height: 600px;
    overflow: scroll;
    /* background-color: slateblue;   */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.7rem;
    padding: 0.7rem;
}

.questionContainer {
    width: 100%;
}

.questionActions {
    display: flex;
    width: 100%;
    /* background-color: blue; */
    justify-content: space-between;
    align-items: center;
}

.metaContainer {
    width: 400px;
    height: 600px;
}
